[mysqld]
datadir=/storage/mysql/
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8
bind-address = 127.0.0.1
default-storage-engine = aria
max_allowed_packet = 4G
key_buffer_size=16G
[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid
!includedir /etc/my.cnf.d
