grant codeBase "file:${java.home}/lib/-" {
        permission java.security.AllPermission;
};
grant codeBase "file:${java.home}/jre/lib/ext/-" {
        permission java.security.AllPermission;
};
grant codeBase "file:${java.home}/../lib/-" {
        permission java.security.AllPermission;
};
grant codeBase "file:${java.home}/lib/ext/-" {
        permission java.security.AllPermission;
};
grant codeBase "file:/usr/share/java/tomcat-servlet-3.0-api.jar" {
        permission java.security.AllPermission;
};
grant codeBase "file:/usr/share/java/omcat-jsp-2.2-api.jar" {
        permission java.security.AllPermission;
};
grant codeBase "file:/usr/share/java/tomcat-el-2.2-api.jar" {
        permission java.security.AllPermission;
};
grant codeBase "file:/usr/share/java/log4j.jar" {
        permission java.security.AllPermission;
};
grant codeBase "file:/usr/share/java/ecj.jar" {
        permission java.security.AllPermission;
};
grant codeBase "file:/usr/share/java/apache-commons-pool.jar" {
        permission java.security.AllPermission;
};
grant codeBase "file:/usr/share/java/apache-commons-dbcp.jar" {
        permission java.security.AllPermission;
};
grant codeBase "file:/usr/share/java/apache-commons-collections.jar" {
        permission java.security.AllPermission;
};
grant codeBase "file:${catalina.home}/bin/commons-daemon.jar" {
        permission java.security.AllPermission;
};
grant codeBase "file:${catalina.home}/bin/tomcat-juli.jar" {
        permission java.io.FilePermission "${java.home}${file.separator}lib${file.separator}logging.properties", "read";
        permission java.io.FilePermission "${catalina.base}${file.separator}conf${file.separator}logging.properties", "read";
        permission java.io.FilePermission "/home/logs/tomcat${file.separator}logs", "read, write";
        permission java.io.FilePermission "/home/logs/tomcat${file.separator}logs${file.separator}*", "read, write";
        permission java.lang.RuntimePermission "shutdownHooks";
        permission java.lang.RuntimePermission "getClassLoader";
        permission java.lang.RuntimePermission "setContextClassLoader";
        permission java.util.logging.LoggingPermission "control";
        permission java.util.PropertyPermission "java.util.logging.config.class", "read";
        permission java.util.PropertyPermission "java.util.logging.config.file", "read";
        permission java.util.PropertyPermission "org.apache.juli.ClassLoaderLogManager.debug", "read";
        permission java.util.PropertyPermission "catalina.base", "read";
};
grant codeBase "file:${catalina.home}/bin/bootstrap.jar" {
        permission java.security.AllPermission;
};
grant codeBase "file:${catalina.home}/lib/-" {
        permission java.security.AllPermission;
};
grant {
    permission java.util.PropertyPermission "java.home", "read";
    permission java.util.PropertyPermission "java.naming.*", "read";
    permission java.util.PropertyPermission "javax.sql.*", "read";
    permission java.util.PropertyPermission "os.name", "read";
    permission java.util.PropertyPermission "os.version", "read";
    permission java.util.PropertyPermission "os.arch", "read";
    permission java.util.PropertyPermission "file.separator", "read";
    permission java.util.PropertyPermission "path.separator", "read";
    permission java.util.PropertyPermission "line.separator", "read";
    permission java.util.PropertyPermission "java.version", "read";
    permission java.util.PropertyPermission "java.vendor", "read";
    permission java.util.PropertyPermission "java.vendor.url", "read";
    permission java.util.PropertyPermission "java.class.version", "read";
    permission java.util.PropertyPermission "java.specification.version", "read";
    permission java.util.PropertyPermission "java.specification.vendor", "read";
    permission java.util.PropertyPermission "java.specification.name", "read";
    permission java.util.PropertyPermission "java.vm.specification.version", "read";
    permission java.util.PropertyPermission "java.vm.specification.vendor", "read";
    permission java.util.PropertyPermission "java.vm.specification.name", "read";
    permission java.util.PropertyPermission "java.vm.version", "read";
    permission java.util.PropertyPermission "java.vm.vendor", "read";
    permission java.util.PropertyPermission "java.vm.name", "read";
    permission java.lang.RuntimePermission "getAttribute";
    permission java.util.PropertyPermission "jaxp.debug", "read";
    permission java.lang.RuntimePermission "accessClassInPackage.org.apache.tomcat";
    permission java.lang.RuntimePermission "accessClassInPackage.org.apache.jasper.el";
    permission java.lang.RuntimePermission "accessClassInPackage.org.apache.jasper.runtime";
    permission java.lang.RuntimePermission "accessClassInPackage.org.apache.jasper.runtime.*";
    permission java.util.PropertyPermission "org.apache.jasper.runtime.BodyContentImpl.LIMIT_BUFFER", "read";
    permission java.util.PropertyPermission "org.apache.el.parser.COERCE_TO_ZERO", "read";
    permission java.util.PropertyPermission "org.apache.catalina.STRICT_SERVLET_COMPLIANCE", "read";
    permission java.util.PropertyPermission "org.apache.tomcat.util.http.ServerCookie.STRICT_NAMING", "read";
    permission java.util.PropertyPermission "org.apache.tomcat.util.http.ServerCookie.FWD_SLASH_IS_SEPARATOR", "read";
    permission java.lang.RuntimePermission "accessClassInPackage.org.apache.catalina.comet";
    permission java.lang.RuntimePermission "accessClassInPackage.org.apache.catalina.websocket";
    permission java.lang.RuntimePermission "accessClassInPackage.org.apache.tomcat.websocket";
    permission java.lang.RuntimePermission "accessClassInPackage.org.apache.tomcat.websocket.server";
};
grant codeBase "file:/home/userweb1/webapps/ROOT/-" {
	permission java.lang.RuntimePermission "setContextClassLoader";
	permission java.lang.RuntimePermission "accessClassInPackage.org.apache.catalina.session";
	permission java.util.PropertyPermission "file.encoding", "read";
};
grant codeBase "file:/home/userweb1/webapps/ROOT/WEB-INF/-"{
	permission java.net.SocketPermission "10.91.29.192:3306", "resolve,connect";
};
